
<!--- vista de todos los productos utilizando handlebars--->
<h1>Productos del carrito</h1>
<div>
    {{#each products}}
<img> 
    <p>{{this.name}}</p>
    <p>{{this.description}}</p>
    <p>{{this.price}}</p>
    <p>{{this.category}}</p>
    <img src={{thumbnail}} alt="" height="350px" width="350px"></img>
{{/each}}
</div>
