<div>
  <h2 class="titulo1">PRODUCTOS</h2>
</div>

<table>
  <thead>
    <tr>
      <th>NAME</th>
      <th>PRICE</th>
      <th>CATEGORY</th>
      <th>DESCRIPTION</th>
      <th>STOCK</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
       {{#each productosJson.products}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.price}}</td>
          <td>{{this.category}}</td>
          <td>{{this.description}}</td>
          <td>{{this.stock}}</td>
        <td><button class="boton1">AGREGAR PRODUCTO</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>

<p>PAGE: {{page}}</p>
{{#if prevLink}}
  <a href="{{prevLink}}" role="button" class="boton1">LAST</a>
{{/if}}
{{#if nextLink}}
  <a href="{{nextLink}}" role="button" class="boton1">NEXT</a>
{{/if}}